@charset "utf-8";

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.container .video-link {
  flex: 1 1 300px;
  margin: 0 5px 5px;
}

.video:hover .button-play {
  transform: scale(1.5);
}

.video-thumb {
  align-items: center;
  border: 1px solid #999;
  display: flex;
  height: 150px;
  justify-content: center;
}

.button-play {
  fill: #999;
  height: 50px;
  transition: all .15s ease-in-out;
  width: 50px;
}

.video-title {
  font-size: 18px;
}

.video-link {
  color: inherit;
}
