@charset "utf-8";

.header {
  align-items: center;
  background: #333;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 10px;
}

.header-title {
  color: #fff;
  margin-bottom: 0;
}

.register-button {
  margin-bottom: 0;
}
